@mixin card-height($screenSize, $height, $minHeight: 40%) {
  @media (max-width: $screenSize) {
    height: $height;
    .card-content {
      min-height: $minHeight;
    }
  }
}

.quantity-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  height: 500px;

  .card-content {
    min-height: 40%;
  }

  @include card-height($screen-lg, 500px, 50%);
  @include card-height($screen-md, 500px);
  @include card-height($screen-sm, 600px, 30%);
  @include card-height($screen-xs, 520px);
  @include card-height($screen-xss, 480px);
}
