header {
  background: url('../images/img-1.jpg');
  background-size: cover;
  background-position: center;
  min-height: 91.26vh;
}

@media screen and (max-width: 670px) {
  header {
    min-height: 600px;
  }
}

.center{
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}