header {
  background: url("../images/img-1.jpg");
  background-size: cover;
  background-position: center;
  min-height: 91.26vh;
}

@media screen and (max-width: 670px) {
  header {
    min-height: 600px;
  }
}

.center {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* At navbar */
.notification-badge {
  background: #b6bb6696;
  position: relative;
  top: -50px;
  right: -20px;
  border-radius: 50%;
  padding: 5px 8px;
}

.bold{
  font-weight: bold;
}

.ruler{
  width: 20%;
  border-top: 2px solid rgb(204, 204, 56);
  border-radius: 10px;
}

.flex-group{
  display: flex;
  align-items: baseline;
}

.quantity-group{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.card{
  height: 480px;
}

@media (max-width: 800px){
  .card{
    height: 450px;
  }
}

@media (max-width: 500px){
  .card{
    height: 475px;
  }
}
